<h1>Here are all them forms <%= current_user.username %>: </h1>

<ul>
  <% @forms.each do |form| %>
    <li><%= link_to form.desc, form_path(form) %></li>
  <% end %>
</ul>


<p><%= link_to "Create a Form", new_form_path %></p>